.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.3em 
}

.goods {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  
}

.price,
.brand {
  width: 80px;
}

.productItem {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.addInfo {
  display: flex;
  justify-content: space-between;
}

.addInfo__price {}
.addInfo__brand {}